workDir = '/scratch/gpfs/AKEY/rbierman/nextflow_work/GATK_germline'
//cleanup = 'eager'

executor {
    name = 'slurm'
    queueSize = 375
}

tower {
    accessToken = 'eyJ0aWQiOiA4MTczfS4yNDRmNjQ2MGU2YTc1NWRhODhhNDY5NzkyZmVlZGM1OTUzYjE5MTA2'
    enabled = true
}

process {
    withName:HaplotypeCaller {
        container = 'broadinstitute/gatk:4.6.1.0'
    }
}

singularity {
    enabled = true
    cacheDir = '/scratch/gpfs/AKEY/rbierman/nextflow_work/GATK_germline'
}
